/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1 {
    font-size: 2.4rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.6rem;
    line-height: 1.2;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.2;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Variables */

:root {
    --color-primary: #6C63FF;
    --color-success: #00BF8E;
    --color-warning: #F7C94B;
    --color-danger: #F75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-bg: #1F2641;
    --color-bg1: #2E3267;
    --color-bg2: #424890;

    --container-width-large: 80%;
    --container-width-medium: 90%;
    --container-width-small: 94%;

    --transition: all 300ms ease;
}

/* Utility classes */

.container {
    width: var(--container-width-large);
    margin-inline: auto;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 0.25rem;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white)
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

/* Navbar Section */

nav {
    width: 100vw;
    background: transparent;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    justify-content: space-between;
}

.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

nav button {
    display: none;
}

.navbar {
    gap: 4rem;
}

.navbar a {
    font-size: 1.1rem;
    transition: var(--transition);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--color-bg2);
}

/* Header Section */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header-container {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    height: 100%;
    align-items: center;
}

.header-left p {
    margin: 1.2rem 0 2.5rem;
}

/* Category Section */

.categories {
    background: var(--color-bg1);
    height: 29rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories-container {
    grid-template-columns: 40% 60%;
}

.categories-left {
    margin-right: 4rem;
}

.categories-left p {
    margin: 1rem 0 3rem;
}

.categories-right {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

.category-card {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category-card p {
    font-size: 0.85rem;
}

.category-card:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category-icon {
    background: var(--color-primary);
    padding: 0.7rem 1rem;
    border-radius: 0.9rem;
}

.category-card h5 {
    margin: 1.3rem 0 0.5rem;
}

.category-card:nth-child(2) .category-icon {
    background-color: var(--color-danger);
}

.category-card:nth-child(3) .category-icon {
    background-color: var(--color-success);
}

.category-card:nth-child(4) .category-icon {
    background-color: var(--color-warning);
}

.category-card:nth-child(5) .category-icon {
    background-color: var(--color-success);
}

/* Courses Section */

.courses {
    margin-top: 7rem;
}

.courses-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.course-card {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course-card:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course-info {
    padding: 2rem;
}

.course-info p {
    padding: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* FAQs Section */

.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq-card {
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq-card h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq-icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq-card p {
    margin-top: 0.8rem;
    display: none;
}

.faq-card.open p {
    display: block;
}

/* Testimonials Section */

.testimonials-container {
    overflow-x: hidden;
    margin-bottom: 5rem;
    position: relative;
}

.testimonial-card {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial-info {
    text-align: center;
}

.testimonial-body {
    text-align: center;
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    border-radius: 0.3rem;
}

.testimonial-body::before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary));
    position: absolute;
    left: 46%;
    top:-1.5rem;
    transform: rotate(45deg);
}